extend ../layout

append head
	link(rel="stylesheet", href="/styles/dashboard.css")

block content
	.content
		h3 Dashboard
		.dashboard-content.row
			.col.align-items-center
				h1= "Welcome, " + user.first_name
				h2= userType

				if userType == "Volunteer"
					h2 Thank you for volunteering!
					p How would you like to contribute?
					br

					form(action="/account/dashboard", method="post")
						.checkbox-div.d-flex.justify-content-around
							.col-6
								.form-group
									input#penpals(type="checkbox", name="penpals")
									label(for="penpals") Become a penpal.
								.form-group
									input#goodies(type="checkbox", name="goodies")
									label(for="goodies") Donate simple items for someone in need.
							.col-6
								.form-group
									input#job-sponser(type="checkbox", name="job-sponser")
									label(for="job-sponser") Help a fresh start member find a job.
								.form-group
									input#Mentor(type="checkbox", name="Mentor")
									label(for="Mentor") Take an active role with a fresh start member. Become a mentor!
						.form-group
							label(for="other") Want to help some other way? Let us know!
							br
							textarea#other(name="other", cols="30", rows="10")
						.form-group
							button.btn.btn-primary(type="submit") Submit

				else if userType == "Member"
					h2 We here to help you with your fresh start!
					p How can we help you?

					form(action="/account/dashboard", method="post")
						.checkbox-div.d-flex.justify-content-around
							.col-6
								.form-group
									input#penpals(type="checkbox", name="penpals")
									label(for="penpals") Request a penpal.
								.form-group
									input#goodies(type="checkbox", name="goodies")
									label(for="goodies") In need of simple items.
							.col-6
								.form-group
									input#job-sponser(type="checkbox", name="job-sponser")
									label(for="job-sponser") Request help a finding job.
								.form-group
									input#Mentor(type="checkbox", name="Mentor")
									label(for="Mentor") Request a mentor.
						.form-group
							label(for="other") Need some other type of help? Let us know!
							br
							textarea#other(name="other", cols="30", rows="10")
						.form-group
							button.btn.btn-primary(type="submit") Submit
