form(action="/account/signup?signup=MEMBER")
    input#email(type="text", name="email")
    label(for="email") Email
    br
    input#password(type="password", name="password")
    label(for="password") Password
    br
    input#first_name(type="text", name="first_name")
    label(for= "first_name") First Name
    br
    input#last_name(type="text", name="last_name")
    label(for="last_name") Last Name
    br
    input#phone_number(type="text", name="phone_number")
    label(for="phone_number") Phone Number
    br
    input#street-number(type="text", name="streetNumber")
    label(for="street-number") Street Number
    br
    input#street-name(type="text", name="streetName")
    label(for="street-name") Street Name
    br
    input#zip(type="text", name="zipCode")
    label(for="zip") Zip Code
    br
    input#state(type="text", name="state")
    label(for="state") State eg. TX
    br
    button(type="submit") Signup