extend ../layout.pug

block content
    br
    .row
        .col
            form(action="/account/signup?signup=Member" method="POST")
                .form-group
                    input#email.form-control(type="text", name="email")
                    label(for="email") Email
                    br
                .form-group
                    input#password.form-control(type="password", name="password")
                    label(for="password") Password
                    br
                .form-group
                    input#first_name.form-control(type="text", name="first_name")
                    label(for= "first_name") First Name
                    br
                .form-group
                    input#last_name.form-control(type="text", name="last_name")
                    label(for="last_name") Last Name
                    br
                .form-group
                    input#phone_number.form-control(type="text", name="phone_number")
                    label(for="phone_number") Phone Number
                    br
                .form-group
                    button(type="submit") Signup