html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href = "./styles/freshStart.css")
        title=title
        block head
    body
        img.logo(src="images/NABI.png")
        div.container
            nav.navigation-bar
                a(href='/') Home
                a#donate(href='/donation') DONATE
                a(href="/aboutus") About Us
                a(href='takeAction') Take Action
                a(href='/freshStart') Fresh Start
                a(href='/contactUs') Contact Us
                a(href='#') Login
        block content
         body
            div.interior
             button.signUp Sign Up Fresh Start 
             button.signUp2 Sign Up Fresh Start 
             div.box1
             div.box2 
             div.box3
              


    footer.footer NABIfreedom is a 501 (c) 3 non-profit as determined by the Internal           Revenue Service.&copy;2017 NABIFreedom. All rights reserved. PO BOX 38574 Houston TX 77238.                      
