head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='/styles/layout.css')
  // NAV BAR
img.logo(src='images/NABI.png')
.container
  nav.navigation-bar
    a(href='/') Home
    a#donate(href='/donation') DONATE
    a(href='/aboutus') About Us
    a(href='#') Take Action
    a(href='#') Fresh Start
    a(href='/contactUs') Contact Us
    a(href='/account/login') Login
div.interior
 .home-image
  img(src='images/MAIN-IMAGE.png')
footer.footer
  | NABIfreedom is a 501 (c) 3 non-profit as determined by the Internal Revenue Service.
  | &copy;2017 NABIFreedom. All rights reserved.
