.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.navigation-bar {
    margin-top: 6%;
    padding-top: 0;
    padding-left: 10%;
    float: right;
}
.logo {
    margin-top: -1%;
    margin-left: 15%;
    float: left;
    width: 20%;
    height: auto;
}
.navigation-bar > a {
    padding: 2%;
    padding-left: 0.5%;
    color: #17023d;
    font-family: sans-serif;
    font-size: large;
    text-decoration: none;
}
a:hover{
  color: gray;
}
#donate{
  color: red;
}
#donate:hover{
  text-decoration: underline;
  font-weight: bold;
  
}
.home-image{
  display: block;
  
  /* margin-left: 15%; */
  margin-left: 30vh;
  margin-right: auto;
  margin-top: 5%;
}

.login{
    margin-bottom:10%;
    float: right;
    color: #17023d;
    font-family: sans-serif;
}
.interior{
  margin-top: 6.5%;
  background-color: #17023d;
  margin-left:0;

}

footer{
    padding-top: 3%;
    font-family: sans-serif;
    color: #17023d;
    text-align: center;
    font-size: medium;
}
